bin/
target/
.cache
.idea
.classpath
.project
.settings
./src
server/lib
perf/*
server/src/main/resources/sonicd-spark-sql.jar
server/src/main/resources/application.conf
examples/nodejs/node_modules
lib/nodejs/node_modules
.cargo
scripts/certs
npm-debug.log
lib/rust/src/_io
node_modules
