{
  "extends": [
    "airbnb",
  ],
  "rules": {
    "object-shorthand": 0,
    "indent": 0,
    "no-mixed-spaces-and-tabs": 0,
    "max-len": 0,
    "comma-dangle": 0
  },
  "globals": {
    "Promise": true
  },
  "env": {
    "node": true
  },
}
