html, body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial;
}

body > section {
  height: 100%;
  width: 100%;
}

table {
  font-family: Helvetica, Arial;
  font-size: 8px;
}

.timeline-chart .axis path {
  fill: none;
  stroke: none; }

.timeline-chart line {
  stroke: black; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
  fill: transparent; }

.timeline-chart rect.chart-bounds:hover, .timeline-chart rect.interval:hover {
  cursor: -webkit-grab;
  cursor: grab; }

.timeline-chart rect.chart-bounds:active, .timeline-chart rect.interval:active {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.timeline-chart .dot:hover {
  cursor: pointer; }

.timeline-chart .interval-text {
  pointer-events: none; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: black;
  stroke: #2b2b2b; }

.timeline-chart .axis path {
  fill: none;
stroke: none; }

.timeline-chart line {
stroke: black; }

.timeline-chart rect, .timeline-chart rect.chart-bounds {
fill: transparent; }

.timeline-chart rect.chart-bounds:hover, .timeline-chart rect.interval:hover {
  cursor: -webkit-grab;
cursor: grab; }

.timeline-chart rect.chart-bounds:active, .timeline-chart rect.interval:active {
  cursor: -webkit-grabbing;
cursor: grabbing; }

.timeline-chart .dot:hover {
cursor: pointer; }

.timeline-chart .interval-text {
pointer-events: none; }

.timeline-chart rect.interval {
  ry: 5;
  rx: 5;
  fill: black;
stroke: #2b2b2b; }

*, *:after, *:before {
  box-sizing: border-box;
}


#chart {
  width: 90%;
  height: 150px;
  background: rgb(218, 218, 218);
  opacity: 0.9;
  border-radius: 5px;
  border: 1px solid #2b2b2b;
}

#chart line {
  stroke: #2b2b2b;
}

rect.interval.blue-interval {
  fill: blue;
  stroke: blue;
}

circle.blue-dot {
  fill: blue;
}

/* Override d3tip */

.d3-tip {
  background: white;
  color: black;
}

/* Tiny Flex Grid */

[flex] {
  display: flex;
}
[flex-fill] {
  flex: 1;
}
[flex-full-center] {
  align-items: center;
  justify-content: center;
}
[flex-direction=column] {
  flex-direction: column;
}
[flex-direction=row] {
  flex-direction: row;
}
[flex-size="40"] {
  flex: 40;
}
[flex-size="60"] {
  flex: 60;
}
